<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734706758904-1ent3hkhprd3h8pk7d11vrcle9ls4bl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734706758904-1ent3hkhprd3h8pk7d11vrcle9ls4bl4</string>
	<key>API_KEY</key>
	<string>AIzaSyBGo-7V5wDq_z5RGcX27G0oG8wgPuHIdDw</string>
	<key>GCM_SENDER_ID</key>
	<string>734706758904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>brainchrisdvlper.ContadorPasos</string>
	<key>PROJECT_ID</key>
	<string>demoioswtach</string>
	<key>STORAGE_BUCKET</key>
	<string>demoioswtach.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734706758904:ios:30ba7e74162056d1d2770d</string>
</dict>
</plist>